<!DOCTYPE html>
<html lang="en">

<head>
  <title>Formula Financial</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=B612+Mono|Cabin:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/fonts/icomoon/style.css">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/jquery-ui.css">
  <link rel="stylesheet" href="static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="static/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="static/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="static/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="static/css/aos.css">
  <link href="static/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/css/style.css">


    <!-- Google Analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-86186977-3', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- /Google Analytics -->

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    
    <div class="header-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 d-flex">
            <a href="index.html" class="site-logo">
              FORMULA FINANCIAL
            </a>

            <a href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                class="icon-menu h3"></span></a>

          </div>
          <div class="col-12 col-lg-6 ml-auto d-flex">
            <div class="ml-md-auto top-social d-none d-lg-inline-block">
              <a href="#" class="d-inline-block p-3"><span class="icon-facebook"></span></a>
                <a href="#" class="d-inline-block p-3"><span class="icon-twitter"></span></a>
                <a href="#" class="d-inline-block p-3"><span class="icon-instagram"></span></a>
            </div>
            <form action="#" class="search-form d-inline-block">

              <div class="d-flex">
                <input type="email" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-secondary" ><span class="icon-search"></span></button>
              </div>
            </form>

            
          </div>
          <div class="col-6 d-block d-lg-none text-right">
            
          </div>
        </div>
      </div>
      


      
      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">


      <div class="container">
        <div class="d-flex align-items-center">

          <div class="mr-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                <li class="active">
                  <a href="/" class="nav-link text-left">Home</a>
                </li>
               <li>
                  <a href="/about" class="nav-link text-left">About</a></li>

                  <li class="nav-item">
                  <a href="/categories" class="nav-link text-left">Blog</a>
                </li>

                
                  <li class="nav-link text-left dropdown">
                      <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" data-target=".navbar-collapse" aria-haspopup="true" aria-expanded="false">
                        Tools
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" style="font-size:12px" href="#">Plan</a>
                        <a class="dropdown-item" style="font-size:12px" href="#">Bugdet</a>
                        <a class="dropdown-item" style="font-size:12px" href="#">Percentiles</a>
                     </div>
                 </li>
                 <li class="nav-link text-left dropdown">
                      <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" data-target=".navbar-collapse" aria-haspopup="true" aria-expanded="false">
                        Resources
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" style="font-size:12px" href="#">Planning</a>
                        <a class="dropdown-item" style="font-size:12px" href="#">Budgeting</a>
                        <a class="dropdown-item" style="font-size:12px" href="#">Investing</a>
                        <a class="dropdown-item" style="font-size:12px" href="#">Banking</a>
                     </div>
                 </li>
              

  
                <li>
                  <a href="/contact" class="nav-link text-left">Contact</a></li>
              </ul>                                                                                                                                                                                                                                                                                         
            </nav>

          </div>
         
        </div>
      </div>

    </div>
    
    </div>